.back{
    text-align: left;
}
.Thx{
    background-color: pink;
    margin-top: 10px;
    box-shadow: 1px 1px 5px 0;
}
.Thx h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 20px;
}
.bottom{
    display: flex;
    justify-content: space-around;
    margin-top: 40px; 
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    background-color: pink;   
    box-shadow: 1px 1px 5px 0;
}
.top{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
/* Initial form state */
.form {
  --col1: #fff;
  --col2: #252325;
  --col3: rgba(232, 213, 196, 0.9);
  --col4: #ffffff;
  --col5: #683363;
  --sh: rgba(80, 80, 80, 0.35);
  --rad: 4px;
  --radBig: 10px;
  border-radius: 0 0 var(--radBig) var(--radBig);
  box-shadow: 0 0 20px var(--sh);
  display: flex;
  flex-direction: column;
  gap: 1.5em 1em;
  padding: 1em;
  position: relative;
  max-width: 75%;
  max-height: 90px;
  transition: background .3s ease-out, max-height .3s ease-out;
  overflow: hidden;
}

.form::before {
  content: 'Ready To Pay To Our Store?';
  color: var(--col2);
  font-size: 1.2em;
  font-weight: 700;
  display: grid;
  width: calc(100% - 2em);
  height: 60%;
  position: absolute;
  place-items: center;
  z-index: 99999;
}

.form::after {
  content: '';
  backdrop-filter: blur(6px) grayscale(100%);
  background: linear-gradient(-180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,.5) 70%, rgba(255, 255, 255, 0.3) 90%);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: block;
  position: absolute;
  z-index: 999;
}

.form::after,
.form::before {
  border-radius: 0 0 var(--radBig) var(--radBig);
  pointer-events: none;
  transition: all .5s ease-out;
}

/* Form hover and focus */
.form:hover,
.form:focus-within {
  max-width: 100%;
  max-height: 480px;
}

.form:focus-within {
  overflow: initial;
}

.form:hover::before,
.form:hover::after {
  opacity: 0;
}

.form:hover::after {
  backdrop-filter: blur(0) grayscale(0%);
}

.form header {
  color: var(--col1);
  font-size: 1.25rem;
  font-weight: 600;
}
/* Labels and inputs UI */
:is(.form) label span, label input {
  flex: 1 100%;
  transition: all .3s ease-out;
}

:is(.form) input, select, button {
  appearance: none;
  border: 0;
  padding: .75em;
  border-radius: var(--rad);
  transition: all .3s ease-out;
}

.form label {
  display: flex;
  flex-flow: row wrap;
  color: var(--col4);
  gap: .5em;
}

.form input {
  box-shadow: inset 3px 3px 1px var(--sh);
}

.form fieldset {
  display: flex;
  backdrop-filter: blur(10px);
  flex-flow: row nowrap;
  gap: 1em;
  position: relative;
  transition: all .3s ease-out;
  padding: 1rem;
  z-index: 10;
  border: 3px double var(--col1);
  border-radius: var(--rad);
}

.form fieldset label {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  font-size: .75em;
}

.sm {
  justify-content: space-around;
}

.sm span {
  text-align: center;
}

.form select {
  box-shadow: inset 3px 3px 1px var(--sh);
  padding: .75em 1.75em .75em 0.5em;
  position: relative;
}

.custom-select {
  position: relative;
}

.custom-select::after {
  position: absolute;
  content: "";
  top: 45%;
  right: 5px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--col5) transparent transparent transparent;
}

.form fieldset span {
  flex: 1 100%;
}

.form fieldset input {
  flex: 0 1 40px;
}

.form button {
  background-color: var(--col1);
  color: var(--col4);
  border: 2px solid var(--col4);
  font-size: 1em;
  font-weight: 700;
  align-self: center;
  padding: .5em 1.5em;
  appearance: none;
}

/* Form and UI valid and invalid states */
.form input:focus,
.form select:focus {
  outline: 3px solid var(--col3);
  outline-offset: 1px;
}

.form input:invalid:not(:focus),
.form select:invalid:not(:focus) {
  background-color: var(--col3);
  outline: 3px solid var(--col4);
  outline-offset: 1px;
}

.form input:valid:not(:focus),
.form select:valid:not(:focus) {
  outline: 3px solid var(--col1);
  outline-offset: 1px;
}

.form .message {
  display: block;
  opacity: 0;
  font-size: .75em;
  font-weight: 400;
  transition: all .3s ease-out;
  margin: -1rem 0 0;
}

.form:has(:invalid) .message {
  opacity: 1;
  margin: .25rem 0 0 0;
}

label:has(input:invalid),
label:has(select:invalid) {
  color: var(--col3);
  opacity: .8;
}

label:has(input:valid),
label:has(select:valid) {
  opacity: 1;
}

.form:hover:has(:focus, :active):valid .submitCard {
  max-height: 180px;
  opacity: 1;
  transition: opacity 1s ease-out .5s, translate 1.3s ease-out;
  translate: 0 100%;
}

.form:hover:invalid {
  transition: all .3s ease-out;
  background-color: var(--col5);
}

.form:hover:valid {
  transition: all .3s ease-out;
  background-color: var(--col1);
}

.form:hover:valid * {
  color: var(--col2);
}

.form:hover:valid input,
.form:hover:valid select {
  outline: 3px solid var(--col2);
}

.form:hover:invalid fieldset {
  border: 1px dashed var(--col3);
}

.form:hover:valid fieldset {
  border: 1px dashed var(--col2);
}

/* Submit block */
.form .submitCard {
  display: flex;
  justify-content: center;
  background-color: var(--col2);
  border-radius: 0 0 var(--rad) var(--rad);
  bottom: 0;
  padding: .5em;
  opacity: 0;
  max-height: 0;
  translate: 0 -100%;
  position: absolute;
  width: calc(100% - 2em);
  transition: all .5s ease-out .1s;
  z-index: -1;
}
.flip-card {
    background-color: transparent;
    width: 240px;
    height: 154px;
    perspective: 1000px;
  }
  
  .heading_8264 {
    position: absolute;
    letter-spacing: .2em;
    font-size: 0.5em;
    top: 2em;
    left: 18.6em;
  }
  
  .logo {
    position: absolute;
    top: 6.8em;
    left: 11.7em;
  }
  
  .chip {
    position: absolute;
    top: 2.3em;
    left: 1.5em;
  }
  
  .contactless {
    position: absolute;
    top: 3.5em;
    left: 12.4em;
  }
  
  .number {
    position: absolute;
    font-weight: bold;
    font-size: .6em;
    top: 8.3em;
    left: 1.6em;
  }
  
  .valid_thru {
    position: absolute;
    font-weight: bold;
    top: 635.8em;
    font-size: .01em;
    left: 140.3em;
  }
  
  .date_8264 {
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 13.6em;
    left: 3.2em;
  }
  
  .name {
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 16.1em;
    left: 2em;
  }
  
  .strip {
    position: absolute;
    background-color: black;
    width: 15em;
    height: 1.5em;
    top: 2.4em;
    background: repeating-linear-gradient(
      45deg,
      #303030,
      #303030 10px,
      #202020 10px,
      #202020 20px
    );
  }
  
  .mstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 8em;
    height: 0.8em;
    top: 5em;
    left: .8em;
    border-radius: 2.5px;
  }
  
  .sstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 4.1em;
    height: 0.8em;
    top: 5em;
    left: 10em;
    border-radius: 2.5px;
  }
  
  .code {
    font-weight: bold;
    text-align: center;
    margin: .2em;
    color: black;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 skyblue;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: pink;
  }
  
  .flip-card-back {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: pink;
    transform: rotateY(180deg);
  }
  /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){ 
	
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.Thx{
    background-color: pink;
    margin-top: 10px;
    box-shadow: 1px 1px 5px 0;
}
.Thx h1{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 20px;
}
.bottom{
  margin-top: 40px; 
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  background-color: pink;   
}
body{
  height: 950px;

}
}
